nav {
  display: flex;
  padding: var(--spacing-200) 0px;
  align-items: center;
  align-self: stretch;
  background-color: transparent;
}

.mobileMenu {
  display: flex;
  padding-left: var(--spacing-300);
  align-items: center;
  gap: var(--spacing-800);
  flex: 1 0 0;
}

.logoIcon {
  width: 40px;
  height: 40px;
}

.hamburger {
  display: flex;
  padding-right: var(--spacing-300);
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: var(--spacing-100);
  flex: 1 0 0;
  align-self: stretch;
  z-index: 1000;
}

/* ============================================= */

/* Navigation Menu Mobile */
.navMenuMobile {
  display: flex;
  width: 254px;
  height: 880px;
  padding-left: var(--spacing-400);
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-600);
  top: 0px;
  right: 0px;
  background: rgba(11, 13, 23, 0.15);
  backdrop-filter: blur(40px);
  position: fixed;
  overflow: hidden;
  z-index: 500;
}

.closeButtonContainer {
  display: flex;
  padding: var(--spacing-400) 0px;
  align-items: center;
  align-self: stretch;
}

.navMenuTablet {
  display: none;
}

/* ============================================= */

/* Media Query Tablet */
@media (min-width: 768px) {
  nav {
    display: flex;
    align-items: center;
    gap: -32px;
    align-self: stretch;
    padding: 0;
  }

  .mobileMenu {
    max-width: 160px;
    padding-left: var(--spacing-400);
    gap: var(--spacing-800);
  }

  .navMenuMobile {
    display: none;
  }

  .hamburger {
    display: none;
  }

  .navMenuTablet {
    display: flex;
  }
}
