.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: var(--spacing-300);
  flex: 1 0 0;
  align-self: stretch;
}

/* === Image === */
.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
  align-self: stretch;
}

.planetImage img {
  width: 150px;
  height: 150px;
  flex-shrink: 0;
}

/* === Planet Info === */
.planetInfo {
  display: flex;
  max-width: 514px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-200);
  align-self: stretch;
}

/* === Tab Text === */
.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.navigation ul {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: var(--spacing-400);
  align-self: stretch;
}

.tabMenu {
  cursor: pointer;
  display: flex;
  height: 32px;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-100);
  transition: border-bottom 0.05s ease;
}

.tabMenu.active {
  border-bottom: 3px solid var(--color-white);
}

.tabMenu:hover:not(.active) {
  border-bottom: 3px solid rgba(255, 255, 255, 0.5);
  transition: all 0.5s ease-in;
}

.tabText {
  color: var(--color-white, #fff);
  font-feature-settings: "liga" off, "clig" off;
  font-family: "Barlow Condensed";
  font-size: var(--font-size-mobile-text-preset-8);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.1px;
}

/* === Planet Description === */

.planetDescription {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-200);
  align-self: stretch;
  height: 216px;
}

.title {
  color: var(--color-white);
  text-align: center;
  font-feature-settings: "liga" off, "clig" off;
  font-family: Bellefair;
  font-size: var(--font-size-mobile-text-preset-2);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.description {
  align-self: stretch;
  color: var(--color-blue-300);
  text-align: center;
  font-feature-settings: "liga" off, "clig" off;
  font-family: Barlow;
  font-size: var(--font-size-mobile-text-preset-9);
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
}

.spacer {
  height: 1px;
  align-self: stretch;
  opacity: 0.25;
  background: var(--color-white);
}

.planetStatistics {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-300);
  align-self: stretch;
  /* padding-top: var(--spacing-200); */
}

.distanceContainer,
.travelTimeContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
}

.textStat {
  align-self: stretch;
  color: var(--color-blue-300);
  text-align: center;
  font-feature-settings: "liga" off, "clig" off;
  font-family: "Barlow Condensed";
  font-size: var(--font-size-desktop-text-preset-7);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.distance,
.travelTime {
  align-self: stretch;
  color: var(--color-white, #fff);
  text-align: center;
  font-feature-settings: "liga" off, "clig" off;
  font-family: Bellefair;
  font-size: var(--font-size-desktop-text-preset-4);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
