main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: initial;
}

.background {
  width: 100%; /* 375px */
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}
