main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: initial;
}

.background {
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Media Query Tablet */
@media (min-width: 768px) {
  main {
    width: 768px;
    height: 1024px;
  }
}
